.countries-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
  border-radius: $border-radius;
  overflow: hidden;
  text-align: left;

  &__head {
    font-size: .8rem;
    color: $color-heading;
    border-bottom: 1px solid $color-heading;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__img {
    width: 5.6rem;
    height: 2.8rem;
  }

  &__header, &__cell {
    flex: 1;
    padding: 12px 0;
  }
}


@media screen and (max-width: 640px) {
  .countries-table {
    &__header:last-child, &__cell:last-child {
      display: none;
    }
  }
  
}