.ranking-panel {
  @include panel("header header header" "sidebar table table", 1fr 3fr, 80%);

  &__header {
    grid-area: header;
    height: fit-content;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__table {
    grid-area: table;
  }
}

