.country {
  @include panel("detail", 1fr, 50%, 0);

  &__detail {
    grid-area: detail;
    display: flex;  
    flex-direction: column;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: -5rem;
  
  &__flag {
    width: 20rem;
    margin: 0 auto;
    border-radius: $border-radius;
  }
}

.names {
  padding-top: 1.5rem;
  text-align: center;
  
  &__name {
    font-size: 2rem;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.dimensions {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;

  &__label {
    width: fit-content;
    background-color: $color-panel-border;
    border-radius: $border-radius;
    height: fit-content;
    padding: 1rem 1rem;
    color: $color-font;
  }

  &__label span {
    padding: .5rem .5rem;
  }

  &__label span:first-child::after {
    content: '|';
    padding-left: .5rem;
    font-size: 1.5rem;
    font-weight: 100;
    color: $color-page-container;
  }
}

.data {
  &__table {
    width: 100%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1rem;
    border-bottom: 1px solid $color-panel-border;

    td:first-child {
      color: $color-font
    }
  }
}

.neighbours {
  h2 {
    font-size: 1rem;
    font-weight: 400;
    color: $color-font;
    padding: 1rem 1rem;
    margin: 0;
  }

  &__list {
    display: flex;
    margin: 0 auto;
    padding: .8rem;
    flex-wrap: wrap;
  }

  &__list-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }

  &__flag {
    width: 5rem;
    height: 3rem;
  }

  &__name {
    font-size: .8rem;
    font-weight: 400;
    padding: 0.5rem 0;
  }
}

@media (max-width: 640px) {
  .country {
    min-width: 90%;
  }
}