$color-page-container: #1B1D1F;
$padding: 2rem;

.container {
  background-color: $color-page-container;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
  padding-right: $padding;
  padding-left: $padding;
  padding-bottom: $padding;
}

@media screen and (max-width: 640px) {
  .container {
    padding-right: 0;
    padding-left: 0;
    display: block;
    width: 100%;
  }
}