// Private Colors
$_color-shark: #1B1D1F;
$_color-discord-depths: #282B30;
$_color-pale-sky: #6C727F;
$_color-iron: #D2D5DA;
$_color-blue-moon-ritual: #4E80EE;

// Colors
$color-page-container: $_color-shark;
$color-panel: $_color-shark;
$color-input: $_color-discord-depths;
$color-heading: $_color-pale-sky;
$color-font: $_color-iron;
$color-checkbox: $_color-blue-moon-ritual;

// Utilities
$border-radius: .5rem;